<div class="section--generic">
  <h1 class="section--generic__title">{{title}}</h1>

  <div class="section--generic__player--zone">
    <!--mode es una variable que declaramos en el ts. Luego le damos valor donde utilizamos la etiqueta de section-generig-->
    <ul class="player--list" [ngClass]="{'card-small':mode === 'small','card-big':mode === 'big'}">
      <li *ngFor="let track of dataTracks">
        {{track.name}}
        <!-- <app-card-player [track]="track" [mode]="mode"></app-card-player>-->
      </li>
    </ul>
  </div>
</div>